[Unit]
Description=Simple url shortener written in Javascript.
Documentation=https://github.com/AlbertCerfeda/simple-url-shortener/blob/master/README.md
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory= /home/cerfe/Programs/simple-url-shortener/
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
